﻿
@{
    Layout = null;
} 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @DateTime.Now.ToLongDateString();
    @Model.Books
</body>
</html>
