﻿
@{
    Layout = null;
}
@model Form
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            Inviter
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Главная</a>
                <a class="nav-item nav-link active" href="/FormHome/Create">Создать приглашение <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="py-5 text-center">
            <h2>Создание формы</h2>
        </div>

        <div class="row">

            <div class="col order-md-1">
                <form asp-action="FormCreate" class="needs-validation" novalidate="" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Creator">Имя пользователя</label>
                        <input asp-for="Creator" class="form-control" id="username" placeholder="Александр">
                    </div>

                    <div class="mb-3">
                        <label asp-for="CreatorEmail">Почта</label>
                        <input asp-for="CreatorEmail" class="form-control" id="email" placeholder="you@example.com">

                    </div>

                    <div class="mb-3">
                        <label asp-for="FormText">Текст приглашения</label>
                        <textarea asp-for="FormText" class="form-control" id="textarea" type="text" rows="3" placeholder="Приглашаем вас на праздник фиксиков!"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="SendToEmails">Кому хотите отправить приглашение? <span class="text-muted">(Напишите почты разделяя их через запятую)</span></label>
                        <input asp-for="SendToEmails" class="form-control" id="username" placeholder="vadim@example.com, sergey@example.com, dima@example.com...">
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" asp-action="FormCreate">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
