﻿@using System
@using System.IO


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Directories</title>
</head>
<body>
    @{
        string userFolder = Environment.GetFolderPath(Environment.SpecialFolder.Personal);
        string[] customFolder = new string[] {
            userFolder,"Code","NewFolder"
        };

        string dir = System.IO.Path.Combine(customFolder);
    }
    Does folder exist? @Directory.Exists(dir)
    @{
        Directory.CreateDirectory(dir);
    }
    Does folder exist? @Directory.Exists(dir)

    <p>@Html.ActionLink("DeleteDirectories","DeleteDirectories","Fs")<p/>
</body>
</html>
