﻿@using System.IO;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrivesInfo</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    @foreach(DriveInfo item in DriveInfo.GetDrives()) {
        @if(item.IsReady) {
            <table style="border-collapse: collapse; border: 1px solid black">
                <tr>
                    <th>Name</th>
                    <th>VolumeLabel</th>
                    <th>TotalSize</th>
                    <th>TotalFreeSpace</th>
                </tr>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.VolumeLabel</td>

                    <td>@item.TotalSize</td>
                    <td>@item.TotalFreeSpace</td>

                </tr>
            </table>
        }
    }
</body>
</html>
