﻿@using System

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FsInfo</title>
</head>
<body>
    <p>
        Path Separator: @System.IO.Path.PathSeparator<br />
        Directory Separator Char: @System.IO.Path.DirectorySeparatorChar<br />
        Current Directory: @System.Environment.CurrentDirectory<br />
        System Directory: @System.Environment.SystemDirectory<br />
        System Directory: @System.Environment.SystemDirectory<br />
        Temp Directory: @System.IO.Path.GetTempPath()<br />
        ApplicationData: @Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData)<br />
    </p>
</body>
</html>
