﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>@Html.ActionLink("FsInfo", "FsInfo", "Fs")</p>
        <p>@Html.ActionLink("DrivesInfo", "DrivesInfo", "Fs")</p>
        <p>@Html.ActionLink("Directories", "Directories", "Fs")</p>


    </div>
