﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello from MyController View()</h1>
    <p>
        @ViewBag.Book
    </p>
</body>
</html>
